
*{
    border: 1px solid black;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 30vh 50vh 10vh;
    text-align: center;
    grid-template-areas:
    "header header header"
    "con1 con2 con3"
    "con4 con4  con5"
    "footer footer footer" ;
}

.container *{
    padding: 50px;
}

header {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: header;
    background-color: lightcoral;
}
.con1 {
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-area: con1;
    background-color: rgb(128, 240, 137);
}
.con2 {
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-area: con2;
    background-color: rgb(108, 247, 117);
    
}
.con3 {
    /* grid-column-start: 3;
    grid-column-end: 4; */
    grid-area: con3;
    background-color: rgb(41, 95, 45);
    
}
.con4 {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-area: con4;
    background-color: rgb(14, 62, 14);
    
}
.con5{
    /* grid-column-start: 3;
    grid-column-end: 4; */
    grid-area: con5;
    background-color: rgb(38, 42, 38);
    
}
footer {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: footer;
    background-color: rgb(157, 230, 31);
}
